
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;

  width: 100%;
  background-repeat: no-repeat;
  background-size:0%;
  
}
html { 
  
  
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    }
    .overlay {
      height: 100%;
      width: 25%;
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      font-size:18px;
    }
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 18px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }


#main {
 
  padding: 16px;
  width: 75%;
  float: left;
  
}


  .photo1{
    width: 100%;
    height: 100%;
  }
 

.pic{
    border-radius: 50%;
    float:center;
   color: white;
   margin-left: 25%;
   height: 120px;
   width: 120px;
   border:#faf6f6 5px solid;
   
   
}

* {
    box-sizing: border-box;
}

.yazi{
    margin-top:0;
    float:center;
    margin:30px;
    font-family: 'Montserrat', sans-serif;
}
.benitani2:hover{
 
 opacity: 0.8;
 

}
div.polaroid {
width: 284px;
padding: 10px 10px 20px 10px;
border: 1px solid #BFBFBF;
background-color: white;
box-shadow: 10px 10px 5px #aaaaaa;
}

div.rotate_right {
float: left;
-ms-transform: rotate(7deg); /* IE 9 */
-webkit-transform: rotate(7deg); /* Safari */
transform: rotate(7deg);
}

div.rotate_left {
float: left;
-ms-transform: rotate(-8deg); /* IE 9 */
-webkit-transform: rotate(-8deg); /* Safari */
transform: rotate(-8deg);
}