
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background-image: url(tane.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size:0%;
  
}
html { 

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    }
.sidenav {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
 
  
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  transition: 0.3s;
}

.sidenav a:hover {
  color:white;
  border-bottom: ivory;
  
  
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display:block;
}

#main {
 
  padding: 16px;
  width: 75%;
  float: left;
  
}


  .photo1{
    width: 100%;
    height: 100%;
  }
 

.pic{
    border-radius: 50%;
    float:center;
   color: white;
   margin-left: 25%;
   height: 120px;
   width: 120px;
   border:#faf6f6 5px solid;
   
   
}

* {
    box-sizing: border-box;
}

.yazi{
    margin-top:0;
    float:center;
    margin:30px;
    font-family: 'Montserrat', sans-serif;
}
.benitani2:hover{
 
 opacity: 0.8;
 

}
div.polaroid {
width: 284px;
padding: 10px 10px 20px 10px;
border: 1px solid #BFBFBF;
background-color: white;
box-shadow: 10px 10px 5px #aaaaaa;
}

div.rotate_right {
float: left;
-ms-transform: rotate(7deg); /* IE 9 */
-webkit-transform: rotate(7deg); /* Safari */
transform: rotate(7deg);
}

div.rotate_left {
float: left;
-ms-transform: rotate(-8deg); /* IE 9 */
-webkit-transform: rotate(-8deg); /* Safari */
transform: rotate(-8deg);
}